{% extends "backend/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">
            <!--Card content-->
            <form class="card-body" method="POST">
              {% csrf_token %}
              <h5 class="font-weight-bold"><u>Customer Information</u></h5>
              <!--Grid row-->
              <span class="font-weight-bold"> Address:</span>
              <div class="text-left ml-3">
                <p>{{ user.first_name }} {{ user.last_name}}
                  <br>
                  {{ profile.address1 }}, {{ profile.address2 }}
                  <br>
                  {{ profile.city }}, {{ profile.state }}
                </p>
              </div>
              <p>
                  <span class="font-weight-bold"> Phone:</span> 
                  {{ profile.phone }} 
              </p>
              <a class="btn btn-md btn-primary" href="{% url 'edit-profile' %}"> Update Profile </a>
              <hr>
              <h5 class="font-weight-bold"><u>Reservation Info</u></h5>
              <!--Checkout Info -->
              {{ o_form|crispy }}
              

              <hr>
              <!--Grid row-->
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>
          </div>

        </div>
          <!--/.Card-->


        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            {% for item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ item.tool.type_name }}</h6>
                <small class="text-muted">{{ item.tool.description|slice:":100"}}...</small>
              </div>
              <span class="text-muted">{{ item.quantity }}</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total Items</span>
              <strong>{{ order.get_item_total }}</strong>
            </li>
          </ul>
          <!-- Cart -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
  {% endblock content %}