
{% extends "backend/base.html" %}
{% load static %}


{% block content %}

	
	<main class="mt-5 pt-4">


        <div style="text-align:center">
        <h2>Contact Us</h2>
        <h3>Feel free to reach out if you have any questions:</h3>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
          
          
          <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="firstname" placeholder="Your First Name">
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text"  class="form-control"id="lname" name="lastname" placeholder="Your Last Name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <textarea id="subject" class="form-control" name="subject" placeholder="Your Question or Comment" style="height:170px"></textarea>
          </div>
            <button type="submit" class="btn btn-primary" style="width: 100%" onclick="myfunction();">Submit</button>
          </form>
          <script>
          function myFunction() {
            alert("Your Email Has Been Sent!");
          }
          </script>
          <!--
          {% block contet %}
          <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
          </form>
          {% endblock %}
          -->
          
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="../../../media/ContactUs/Email_Icon.png" width="5%">
          <p>AboutUs@LuckyMail.com</p>

          <img  src="../../../media/ContactUs/PhoneIcon.png"  width="5%">
          <p>123-789-4560</p>
          <img src="../../../media/ContactUs/MapIcon.png"width="5%" >
          <p class="description" style="font-size: 120%">1835 Main St, Logan, UT 84341</p>
        </div>
        </div>
        <hr>
        <h3 class="text-center"> We're Easy to Find, Come See Us! </h3>
        <div width="100%" class="py-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1487.9548811422449!2d-111.83465185351159!3d41.765603327696816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87547d182f85d49f%3A0xb2d558832da4a23f!2sSage%20Jensen%20Realtor-%20Abode%20%26%20Co.%20Real%20Estate!5e0!3m2!1sen!2sus!4v1584766327537!5m2!1sen!2sus" width="100%"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
		
	</main>
  {% endblock content %}