{% extends "backend/base.html" %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container">

      
      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          {% for item in object_list %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">
              <a href="{{ item.get_absolute_url }}">
                <!--Card image-->
                <div class="view overlay">
                  <img src="{{ item.image.url }}" class="card-img-top"
                    alt="">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                  <!--Category & Title-->
                  <h3>
                    <strong>
                      <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.type_name }}
                      </a>
                    </strong>
                  </h3>
                </div>
                <!--Card content{{ item.tool_set.all | length }}-->
              </a>
            </div>
            <!--Card-->
            
          </div>
          <!--Grid column-->
          {% endfor %}


        </div>
        <!--Grid row-->


      </section>


    </div>
  </main>
  <!--Main layout-->
  {% endblock content %}