{% extends "backend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main>
    <div class="card">
    <h5 class="card-header">Your Previous Reservations</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Customer</th>
            <th scope="col">Reservation Date</th>
            <th scope="col">Checkout Date</th>
            <th scope="col">Due Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for order in object_list %}
          <tr>
            <th scope="row"></th>
            <td> {{ order.user.username }}</td>
            <td>{{ order.reservation_date }}</td>
            <td>{{ order.checkout_date }}</td>
            <td>{{ order.due_date }}</td>
            <td><a class="btn btn-primary" href="{{ order.get_admin_order_summary }}">View Order</a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock content %}
