{% extends "backend/base.html" %}
{% block content %}
<main class="mt-5 pt-4">
    <div class="container">
        <div class="table-responsive">
            <h2> Order Summary</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tool</th>
                    <th scope="col">Quantity in Cart</th>
                    <th scope="col"># Available</th>
                    <th scope="col">Remove Tool</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object.items.all %}
                    <tr>
                        <th scope="row"></th>
                        <td><a class='mx-1' href="{{ item.tool.get_absolute_url }}">{{ item.tool.type_name}}</a></td>
                        <td>
                            <a href="{{ item.tool.get_remove_single_from_cart_url }}" class=" btn btn-teal btn-rounded btn-sm my-3">-</a>
                            <span class="my-1"><bold>{{ item.quantity}}</bold></span>
                            <a href="{{ item.tool.get_add_to_cart_url }}" class=" my-3 btn btn-blue btn-rounded btn-sm ">+</a>
                        </td>
                        <td class='mx-1'>{{ item.tool.get_available | length}}</td>
                        <td><a href="{{ item.tool.get_remove_tool_from_cart }}" class="btn btn-primary btn-md my-4 p">remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" class="float-right btn btn-teal btn-rounded btn-md my-3"> Checkout</a>
        </div>
    </div>
</main>
{% endblock content %}