
{% extends "backend/base.html" %}
{% block content %}
<h1>hello</h1>
  <!--Main layout-->
  <div class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <h1 class="lead font-weight-bold">{{object.type_name}}</h1>

            <p>{{ object.description }}</p>
            <p>{{ object.get_available | length }}  available</p>
            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" max="{{ object.get_available | length}}" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

    </div>
  </div>
  <!--Main layout-->
  {% endblock content %}