{% extends "backend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main class="mt-5 pt-4">
  <div class="jumbotron">
    <h1 class="display-4">Welcome back, {{user.first_name }}!</h1>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{% url 'inventory' %}" role="button">View Products</a>
  </div>
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{{ user.profile.image.url }}" class="card-img" alt="{{ user.profile.image.url }}">
            <button type="button"class="btn btn-primary btn-block my-2" data-toggle="modal" data-target="#exampleModal">
              Edit Profile
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <form class="modal-content text-left" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ u_form|crispy}}
                    {{ p_form|crispy}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card-body text-center py-3">
                <h2><u>Your Information:</u></h2>
                <br>
                <p>
                  <span class="font-weight-bold"> Username:</span> 
                  {{ user.username }} 
                </p>
                <p>
                    <span class="font-weight-bold"> email:</span> 
                    {{ user.email }} 
                </p>
                  <span class="font-weight-bold"> Address:</span>
                  <div class="text-center ml-3">
                    <p>{{ user.first_name }} {{ user.last_name}}
                      <br>
                      {{ profile.address1 }}, {{ profile.address2 }}
                      <br>
                      {{ profile.city }}, {{ profile.state }}
                    </p>
                  </div>
                <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Your Previous Reservations</h5>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Reservation Date</th>
                <th scope="col">Checkout Date</th>
                <th scope="col">Due Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <th scope="row"></th>
                <td>{{ order.reservation_date }}</td>
                <td>{{ order.checkout_date }}</td>
                <td>{{ order.due_date }}</td>
                <td><a class="btn btn-primary" href="{{ order.get_absolute_url }}">View Order</a> </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    
</main>
{% endblock content %}
