asgiref==3.2.3
Babel==2.9.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
cryptography==3.2
dj-database-url==0.5.0
Django==3.0.7
django-crispy-forms==1.9.0
django-heroku==0.3.1
django-localflavor==3.0
django-phonenumber-field==4.0.0
django-widget-tweaks==1.4.8
gunicorn==20.0.4
idna==2.9
image==1.5.28
phonenumbers==8.12.0
Pillow==7.0.0
pprintpp==0.4.0
psycopg2==2.8.5
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
python-stdnum==1.13
pytz==2019.3
requests==2.23.0
rich==1.0.0
six==1.14.0
sqlparse==0.3.0
typing-extensions==3.7.4.2
urllib3==1.25.9
whitenoise==5.0.1