asgiref==3.2.6
Babel==2.8.0
Django==3.0.7
django-crispy-forms==1.9.0
django-phonenumber-field==4.0.0
django-phonenumbers==1.0.1
localflavor==1.8
phonenumbers==8.12.0
Pillow==9.0.0
pytz==2019.3
six==1.11.0
sqlparse==0.3.1
django-heroku
gunicorn
whitenoise
